@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: customFont;
    src: url(logo-font.otf);
  }

* {
    font-family: 'Roboto', sans-serif;
}

#container {
    /* display: flex; */
    /* flex-flow: column wrap; */
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30% 30% 30%;
}
    #banner-container {
        /* display: flex;
        flex-flow: row wrap;
        width: 30%;
        min-height: 100vh; */

        /* display: grid; */
    }
        .banner {
            /* width: 100%; */

            color: white;
            text-align: center;
            font-family: customFont;
            font-size: 50px;
            background-color: black;
            opacity: 0.2;
        }
        .footer {
            /* display: flex;
            flex-flow: row wrap;
            width: 100%;
            justify-content: center;

            margin-top: auto;       /* Combining this with parent "min-height: 100vh" makes footer always at bottom of screen */


        }

    #rhs-container {
        /* display: flex; */
        /* width: 70%; */
    }


.body-text { 
    font-weight: bold;
}

