@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: customFont;
    src: url(logo-font.otf);
  }

* {
    font-family: 'Roboto', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30% 30% 30%;
}
    #banner-container {
        display: grid;
    }
        .banner {
            color: white;
            text-align: center;
            font-family: customFont;
            font-size: 50px;
            background-color: black;
            opacity: 0.2;
        }
        .footer {
        }


    #rhs-container {
        display: grid;
        grid-template-columns: 100%;
    }
        .body-text { 
            padding: 15% 20% 5% 5%;

            font-weight: bold;
            background-color: lightyellow;
        }
        .form-class {
            padding: 5% 20% 5% 5%;

            background-color:azure;
        }
        .log-in {
            background-color: antiquewhite;
        }
