@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: customFont;
    src: url(logo-font.otf);
  }

* {
    font-family: 'Roboto', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
}
    #banner-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 10% 70%;
        height: 100vh;
    }
        .banner {
            color: white;
            text-align: center;
            font-family: customFont;
            font-size: 50px;
            background-color: black;
            opacity: 0.2;
        }
        .footer {
            justify-self: center;
            align-self: end;
        }


    #rhs-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        height: 100vh;
    }
        .body-text { 
            padding: 60px 60px 30px 30px;

            font-weight: bold;
            background-color: lightyellow;
        }
        .form-class {
            padding: 20px 60px 30px 30px;

            background-color:azure;
        }
        .log-in {
            padding: 20px 60px 30px 30px;
            background-color: antiquewhite;
        }
